@import "variables";

#about {
  //background-color: @color-sidebar;
  div {
    padding-left: 15px;
  }
  h2{
    margin: 0;
    padding: 15px;
  }
  .sidebar {
    background-color: @color-sidebar;
  }
  h3 {
    text-transform: uppercase;
  }
}