.homepage {
  .row-padding {
    padding: 5% 0;
  }
  .homepage-image {
    background: url('../img/IMG_4790a.jpg') no-repeat center 40%;
    height: 50vh;
    background-size: cover;
  }
  .name-block {
    font-family: "Oh Wonder Sans", sans-serif;
    background-color: @color-dark;
    border-top: solid 10px @color-accent;
    color: white;
    text-transform: uppercase;
    font-size: 36px;
  }
  .intro-text {
    font-size: 18px;
  }
  .icons-row {
    background: @color-white;
  }
  .quote-row {
    //border-bottom: solid 10px @color-accent;
    text-align: center;
    color: @color-white;
    background-color: @color-accent;
    font-family: "Oh Wonder Upright", serif;
    font-size: 34px;
  }
}