.homepage {
  background: url('../img/IMG_3919.jpg') no-repeat;
  height: 90vh;
  background-size: cover;

  .title {
    padding-top: 14%;
    padding-left: 5%;
    color: #fff;

    h1 {
      padding: 2% 0 1% 0;
      font-size: 4em;
    }

    .tagline {
      font-size: 200%;
      padding: 0 0 3% 0;

      .link-button {
        border: solid 2px white;
        display: inline-flex;
        margin: 5px;
        background-color: rgba(30,30,30,0.1);

        a {
          color: white;
          padding: 10px 15px;
        }

        a:hover {
          color: white;
          text-decoration: none;
        }
      }

      .link-button:hover {
        background-color: transparent;
      }
    }
  }
}