<footer>
  <ul class="center">
    <li>
      <a href="https://www.linkedin.com/in/elizabethsalita" title="LinkedIn" target="_blank">
        <i class="fa fa-linkedin-square fa-3x"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/ebsalita" title="Twitter" target="_blank">
        <i class="fa fa-twitter-square fa-3x"></i></a>
    </li>
    <li>
      <a href="https://github.com/ebdabbs/ebdabbs.github.io" title="Site Repo" target="_blank">
        <i class="fa fa-github fa-3x"></i></a>
    </li>
    <li>
      <a href="mailto:lizzie@lizziesalita.com" title="Contact" target="_blank">
        <i class="fa fa-envelope fa-3x"></i></a>
    </li>
  </ul>
</footer>