<footer>
  <ul class="center">
    <li>
      <a href="https://www.linkedin.com/in/elizabethsalita" title="LinkedIn" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <i class="fa fa-linkedin-square fa-2x"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/ebsalita" title="Twitter" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
        <i class="fa fa-twitter-square fa-2x"></i></a>
    </li>
    <li>
      <a href="https://github.com/ebdabbs" title="Github" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <i class="fa fa-github fa-2x"></i></a>
    </li>
    <li>
      <a href="mailto:lizzie@lizziesalita.com" title="Contact" target="_blank" aria-label="Email me">
        <i class="fa fa-envelope fa-2x"></i></a>
    </li>
  </ul>
</footer>