<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ls-navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/">
                <img src="../img/floral_Lmd.png" height="60" width="60">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="ls-navbar">
            <ul class="nav navbar-nav">
                <li class="nav-projects"><a href="/projects">Projects</a></li>
                <li class="nav-artwork"><a href="/art">Artwork</a></li>
                <li class="nav-about"><a href="/about">About</a></li>
                <li class="nav-blog"><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>