.about-page {
  h3 {
    font-family: "Oh wonder", sans-serif;
    font-size: 30px;
  }
  .title-wrapper {
    position: relative;
    .section-title {
      padding: 15px 45px 0 45px;
      background-color: $color-light;
      position: absolute;
      top: -40px;
      left: 0;
      height: 40px;
      margin: 0;
    }
  }
  .row {
    .section {
      .center {
        text-align: left;
        width: 80%;
      }
    }
  }
  .intro {
    background-color: $color-dark;
    color: white;
    .intro-text {
      padding: 5%;
      a {
        color: $color-light;
        &:hover {
          color: $color-white;
        }
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 400px;
    }
  }
  .more {
    background-color: $color-white;
    h3 {
      margin-top: 0;
    }
  }
  .pictures {
    text-align: right;
    background-color: $color-accent;
    color: $color-white;
    .photo {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      float: left;
      object-fit: cover;
    }
  }
  @media screen and (max-width: $screen-sm-max) {
    .row .section .center {
      width: 100%;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    .intro img {
      width: 75%;
    }
  }
}