.about-page {
    h3 {
        font-family: $font-serif;
    }
    .heading {
        @include sans-heading;
    }
    .title-wrapper {
        position: relative;
        .section-title {
            padding: 15px 45px 0 45px;
            background-color: $color-light;
            position: absolute;
            top: -40px;
            left: 0;
            height: 40px;
            margin: 0;
        }
    }
    .row {
        .section {
            .center {
                text-align: left;
                width: 80%;
            }
        }
	    &.intro {
		    background-color: $color-dark;
		    color: white;
		    .intro-text {
			    padding: 5%;
			    a {
				    color: $color-light;
				    &:hover {
					    color: $color-white;
				    }
			    }
		    }
		    img {
			    display: block;
			    width: 100%;
			    height: auto;
			    max-width: 400px;
		    }
	    }
	    &.more {
		    background-color: $color-white;
		    h3 {
			    margin-top: 0;
		    }
		    ul {
				padding-left: 20px;
				li {
					padding-bottom: 5px;
				}
		    }
	    }
	    &.places {
		    background-color: $color-accent;
		    color: $color-white;
		    h4 {
			    padding-top: 30vh;
		    }
		    img {
			    max-height: 70vh;
			    margin: 10px 0;
		    }
	    }
    }
    @media screen and (max-width: $screen-sm-max) {
	    .row {
            width: 100%;
            .section {
                width: 100%;
                padding-bottom: 10px;
                .center {
                    width: 100%;
                }
            }
		    &.intro {
			    img {
				    margin-bottom: 30px;
			    }
		    }
		    &.places {
			    h4 {
				    text-align: center;
			    }
			    img {
				    margin: 10px auto;
			    }
		    }
	    }

    }
    @media screen and (max-width: $screen-xs-max) {
        .intro img {
            width: 75%;
        }
	    .row {
		    &.places {
			    h4 {
				    padding-top: 15px;
			    }
		    }
	    }
    }
}