@import "variables";
body {
	margin: 0 auto;
	color: $color-gray;
	font-family: "Avenir Next", sans-serif;
	.page-wrapper {
		background-color: $color-light;
		.container {
            &.full-width {
                padding: 0;
                margin: 0 !important;
                width: 100%;
                .row {
                    margin: 0 !important;
                }
            }
		}
	}

}

.navbar {
	padding: 1%;
	background-color: white;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
    @include sans-heading;
	.navbar-header {
		.navbar-toggle {
			background-color: $color-light;
			.icon-bar {
				background-color: $color-dark;
			}
		}
	}
	.navbar-nav {
		li {
			a {
				padding: 20px;
				color: $color-gray;
				&:hover {
					background-color: initial;
					color: $color-dark;
				}
			}
			&.active {
				a {
					color: $color-dark;
				}
			}
		}
	}
}

a {
	text-decoration: none;
	color: $color-dark;
}
a:hover {
	color: $color-dark;
}

footer {
	background-color: $color-dark;
	padding: 2% 0;
	ul {
		list-style: none;
		text-align: center;
		li {
			display: inline;
			margin-right: 20px;
			a {
				color: $color-white;
				&:hover {
					text-decoration: none;
					cursor: pointer;
					color: $color-light;
				}
			}
			&.active {
				a {
					color: $color-light;
				}
			}
		}
	}
}
.row-padding {
	padding: 5% 0;
}

.center {
	margin: 0 auto;
	text-align: center;
}
.divider {
	margin-top: 26px;
	margin-bottom: 36px;
	width: 120px;
	height: 1px;
	border-bottom: solid 4px;
	padding: 0;
}

button, .btn {
    @include sans-heading;
	border: solid 1px $color-dark;
	border-radius: 0;
	&.btn-primary {
		background-color: transparent;
		color: $color-dark;
		&:hover {
			background-color: rgba(207,204,223, 0.5);
		}
        &:active {
            color: $color-dark;
        }
	}
}
