.blog-landing {
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	.posts-section {
        padding-top: 30px;
		background-color: $color-white;
		margin-bottom: 30px;
		.post-list {
			li {
				padding: 0 0 30px 0;
				img {
					object-fit: cover;
                    width: 100%;
                    height: 180px;
				}
                .post-meta {
                    @include sans-heading;
                }
                h3 {
                    margin-top: 10px;
                    .post-link {
                        font-family: $font-serif;
                        font-size: 21px;
                        &:hover {
                            text-decoration: none;
                            color: $color-accent;
                        }
                    }
                }
			}
		}
	}
    @media screen and (max-width: $screen-sm-max) {
        .posts-section {
            .post-list {
                img {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.blog-landing, .post {
    .heading-section {
        text-align: center;
        padding: 1% 0;
        font-family: $font-cursive;
    }
    .bio-section {
        padding: 0;
        margin-bottom: 2%;
        .bio-image {
            width: 100%;
            margin: auto;
            max-width: 500px;
        }
        .bio-content {
            background-color: $color-dark;
            color: $color-white;
            padding: 15px;
            h3 {
                @include sans-heading;
                margin-bottom: 5px;
            }
            ul {
                li {
                    padding: 5px 0;
                    i {
                        padding-right: 5px;
                    }
                }
            }
            a {
                color: $color-light;
                &:hover, &:active {
                    color: $color-white;
                }
            }
        }
    }
}