.homepage {
	.homepage-image {
		background: url('../assets/img/IMG_4790a.jpg') no-repeat center 45%;
		height: 60vh;
		background-size: cover;
	}
	.name-block {
		font-family: "Oh Wonder Sans", sans-serif;
		background-color: $color-dark;
		border-top: solid 10px $color-accent;
		color: white;
		text-transform: uppercase;
		font-size: 36px;
	}
	.intro-text {
		font-size: 18px;
	}
	.icons-row {
		background: $color-white;
		.btn {
			width: 130px;
			margin: 20px auto 0 auto;
			display: block;
			font-size: 20px;
		}
	}
	.quote-row {
		text-align: center;
		color: $color-white;
		background-color: $color-accent;
		font-family: "Oh Wonder Upright", serif;
		font-size: 34px;
	}
	@media screen and (max-width: $screen-sm-max) {
		.homepage-image {
			height: 40vh;
		}
		.icons-row {
			.col-xs-12 {
				padding-top: 5%;
			}
		}
	}
}