.post {
    margin-bottom: 2%;
    .post-header {
        background-color: white;
        padding: 3%;
        .post-title {
            color: $color-dark;
            font-family: "Oh wonder", serif;
        }
        .post-meta {
            font-family: "Oh Wonder Sans", sans-serif;
            font-size: 18px;
            margin-bottom: 0;
        }
    }
    .post-content {
        background-color: white;
        padding: 0 3% 3% 3%;
        p {
            font-size: 16px;
            a {
                text-decoration: underline;
                &:hover {
                    color: $color-accent;
                }
            }
        }
	    iframe {
		    max-width: 100%;
	    }
    }
	@media screen and (max-width: $screen-sm-max) {
		margin: 0;
		.post-header {
			border-radius: 0;
		}
		.post-content {
			border-radius: 0;
		}
	}
}
