#projects {
    margin: 30px 0;
    #projects-desktop {
        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
    }
    #projects-mobile {
        display: none;
        @media screen and (max-width: $screen-sm-max) {
            display: inherit;
	        .card {
		        padding: 1%;
		        .card-description {
			        font-size: 16px;
			        h3 {
                        @include sans-heading;
				        color: $color-dark;
			        }
		        }
	        }
        }
    }
    h1 {
        @include sans-heading;
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .divider {
        width: 50%;
        margin: 7% auto 8% auto;
        border-color: $color-accent;
    }
    .btn:hover {
        background-color: rgba(118,122,132, 0.2);
    }
    .card {
        padding: 0;
        .card-image {
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 250px;
            width: 100%;
            background-position: center;
            background-color: $color-light;
            .card-txt {
                display: none;
            }
        }
        .card-image:hover {
            cursor: pointer;
            background-color: $color-light;
            .layer {
                height: 250px;
                width: 100%;
                padding: 100px 15px;
                background-color: rgba(217, 229, 252, 0.9);
                .card-txt {
                    display: block;
                    color: $color-dark;
                    @include sans-heading;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
    }

    .wedding {
        .card-image {
            background-image: url('../assets/img/projects/wedding_home.jpg');
        }
    }
    .usaspending {
        .card-image {
            background-image: url('../assets/img/projects/usaspending.png');
        }
    }
    .zooki {
        .card-image {
            background-image: url('../assets/img/projects/zooki2.png');
        }
    }
    .blitz {
        .card-image {
            background-image: url('../assets/img/projects/blitz2.png');
        }
    }
    .ray {
        .card-image {
            background-image: url('../assets/img/projects/ray_tracer.png');
        }
    }
    .coats {
        .card-image {
            background-image: url('../assets/img/projects/coats.png');
        }
    }
}

.projects-modal {
    .modal-title {
        @include sans-heading;
    }
    .category {
        @include serif-heading;
    }
}