/* Colors */
$color-dark: #44547C;
$color-light: #CFCCDF;
$color-accent: #EC60A0;
$color-gray: #63666E;
$color-white: white;

/* Fonts */
@font-face {
    font-family: 'Clicker Script', cursive;
}
@font-face {
    font-family: 'Judson', serif;
}
@font-face {
    font-family: 'Work Sans', sans-serif;
}

$font-serif: 'Judson', serif;
$font-sans: 'Work Sans', sans-serif;
$font-cursive: 'Clicker Script', cursive;

@mixin sans-heading {
    font-family: $font-sans;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin serif-heading {
    font-family: $font-serif;
    letter-spacing: 1px;
}