---
layout: default
title: Artwork
---
<div id="artwork" class="subpage">
    <div class="row">
        <div class="col-xs-12">
            <h1>Artwork</h1>
        </div>
    </div>
    <div class="row grid">
		{% for art in site.data.artwork %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card">
			<div class="card-content">
				<a href="/assets/img/art/{{art.file}}">
					<div class="card-image {{art.class}}"></div>
				</a>
				<div class="title">{{art.title}}</div>
				<div class="description">
					{{art.medium}}, {{art.year}}
				</div>
			</div>
		</div>
		{% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1 id="animation">Animation</h1>
        </div>
    </div>
    <div class="row grid">
		{% for video in site.data.animation %}
			<div class="col-lg-4 col-sm-6 col-xs-12 card">
				<div class="video-content">
					<div class="video-wrapper">
						<iframe src="{{video.src}}" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="title">{{video.title}}</div>
					<div class="description">
						{{video.medium}}, {{video.year}}
					</div>
				</div>
			</div>
		{% endfor %}
    </div>
</div>