---
layout: default
title: Artwork
---
<div id="artwork" class="subpage">
	<h1>Artwork</h1>
    <div class="row grid">
		{% for art in site.data.artwork %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card">
			<div class="card-content">
				<div class="card-image {{art.class}}"></div>
				<div class="title">{{art.title}}</div>
				<div class="description">
					{{art.medium}}, {{art.year}}
				</div>
			</div>
		</div>
		{% endfor %}
    </div>
	<h2>Tie Dye</h2>
	<div class="row grid">
		{% for art in site.data.tiedye %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card">
			<div class="card-content">
				<a href="{{art.url}}" target="_blank">
					<div class="card-image {{art.class}}"></div>
				</a>
				<a href="{{art.url}}" target="_blank" class="title">{{art.title}}</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<h2>Animation</h2>
    <div class="row grid">
		{% for video in site.data.animation %}
			<div class="col-lg-4 col-sm-6 col-xs-12 card">
				<div class="video-content">
					<div class="video-wrapper">
						<iframe src="{{video.src}}" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="title">{{video.title}}</div>
					<div class="description">
						{{video.medium}}, {{video.year}}
					</div>
				</div>
			</div>
		{% endfor %}
    </div>
	<h2>Design</h2>
	<div class="row grid">
		{% for design in site.data.design %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 card">
            <div class="card-content">
                <a href="/assets/img/art/{{design.file}}">
                    <div class="card-image {{design.class}}"></div>
                </a>
                <div class="title">{{design.title}}</div>
                <div class="description">
                    {{design.medium}}, {{design.year}}
                </div>
            </div>
        </div>
		{% endfor %}
	</div>
</div>